**Lists**

Lists are similar to arrays found in other languages. They are an ordered and mutable collection of items. It is very flexible as items in a list do not need to be of the same type.

In [1]:
# Empty list
a = []

# list with int values
a = [1, 2, 3]
print(a)

# list with mixed values int and String
b = ["Geeks", "For", "Geeks", 4, 5]
print(b)

[1, 2, 3]
['Geeks', 'For', 'Geeks', 4, 5]

In [2]:
print(type(a))
print(len(a))

<class 'list'>
3

**Slicing the list**

in this case, the end index is omitted (exclusive).

In [10]:
print(b[1:4])
print(b[:5])
print(b[3:])

['For', 'Geeks', 4]
['Geeks', 'For', 'Geeks', 4, 5]
[4, 5]

In [12]:
if 'Geeks' in b:
    print('Yes')

Yes

**append()** function is used to add the items to the existing list. while **insert()** is used to add at a certain index of the list.

In [13]:
b.append('kiwi')
print(b)

['Geeks', 'For', 'Geeks', 4, 5, 'kiwi']

In [14]:
b.insert(2,'You')
print(b)

['Geeks', 'For', 'You', 'Geeks', 4, 5, 'kiwi']

In [ ]:
b[1:3] = ['black','white'] # replace the values at specified indexes in a list
print(b)

['Geeks', 'black', 'white', 'Geeks', 4, 5, 'kiwi']

**Tuple Data Type**

Tuple is an ordered collection of Python objects. The only difference between a tuple and a list is that tuples are immutable. Tuples cannot be modified after it is created.

**Creating a Tuple in Python**

In Python, tuples are created by placing a sequence of values separated by a ‘comma’ with or without the use of parentheses for grouping data sequence. Tuples can contain any number of elements and of any datatype (like strings, integers, lists, etc.).

Note: Tuples can also be created with a single element, but it is a bit tricky. Having one element in the parentheses is not sufficient, there must be a trailing ‘comma’ to make it a tuple.

In [16]:
tuple1 = ('emerald', 'ametheyst','peridot')
print(tuple1)
print(len(tuple1))
print(type(tuple1))

('emerald', 'ametheyst', 'peridot')
3
<class 'tuple'>

In [17]:
tuple2 = tuple(['garnet', 'opal','ruby','topaz'])
print(type(tuple2))
print(tuple2)

<class 'tuple'>
('garnet', 'opal', 'ruby', 'topaz')

In [18]:
#operations on tuple
print(tuple1[-1]) # returns the last element
tuple3 = tuple1 + tuple2
print(tuple3)
tuple4 = tuple1 * 2
print(tuple4)

peridot
('emerald', 'ametheyst', 'peridot', 'garnet', 'opal', 'ruby', 'topaz')
('emerald', 'ametheyst', 'peridot', 'emerald', 'ametheyst', 'peridot')